{
    "parser": "babel-eslint",
    // "plugins": ["prettier"],
    "extends": ["airbnb", "eslint:recommended", "eslint-config-prettier"],
    "plugins": ["prettier"],
    "env": {
      "browser": true,
      "node": true,
      "jest": true,
      "commonjs": true
    },
    "rules": {
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/jsx-props-no-spreading": ["error", {"custom": "ignore"}], /*allows speading props*/
      "react/destructuring-assignment": ["error", "always"],
      "prettier/prettier": "error"
      
    }
  }